@font-face {
  font-family: SourceSanPro-regular;
  src: url(../resource/fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: SourceSanPro-bold;
  src: url(../resource/fonts/SourceSansPro-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ssp-regular: SourceSanPro-regular;
  --ssp-bold: SourceSanPro-bold;
  --ssp-color-dark: black;
  --ssp-color-light: white;
  --btn-click-bg: black;
  --bnt-photo-bg: #eab861;
  --block-bg-light: white;
  --block-bg-dark: black;
  --block-addit-bg: rgba(234, 184, 97);
  --btn-bg-dark: black;
  --btn-bg-light: white;
}
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 30px;
  right: 20px;
  border-radius: 10px;
  color: var(--ssp-color-light);
  background-color: var(--block-bg-light);
  z-index: 3;
  overflow: hidden;
}
.navbar i {
  color: var(--ssp-color-dark);
  text-align: center;
  font-size: 25px;
  padding: 12px;
  cursor: pointer;
}
.navbar .menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 0;
  transition: all 1s ease-in-out;
}
.navbar .menu a {
  padding: 5px;
}
.navbar .menu i:hover {
  color: var(--bnt-photo-bg);
}
.main_page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main_page .up_block {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ssp-regular);
  text-transform: uppercase;
  z-index: 2;
}
.main_page .up_block .logo {
  padding-left: 50px;
  letter-spacing: 4px;
  font-size: 22px;
}
.main_page .text_photo_box {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main_page .text_photo_box .text_block {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_page .text_photo_box .text_block .container_items .prewiev_logo_text {
  font-family: var(--ssp-bold);
  font-size: 80px;
  padding-bottom: 20px;
  color: var(--block-bg-dark);
}
.main_page .text_photo_box .text_block .container_items .prewiev_about_text {
  font-family: var(--ssp-regular);
  font-size: 26px;
  word-spacing: 10px;
  padding-bottom: 40px;
  color: var(--block-bg-dark);
}
.main_page .text_photo_box .text_block .container_items #btn_more {
  min-width: 180px;
  height: 60px;
  border: solid 1px black;
  border-radius: none;
  background-color: var(--btn-bg-dark);
  font-family: var(--ssp-regular);
  font-size: 18px;
  text-transform: uppercase;
  color: var(--ssp-color-light);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.main_page .text_photo_box .text_block .container_items #btn_more:hover {
  border: solid 1px black;
  background-color: var(--btn-bg-light);
  color: var(--btn-click-bg);
}
.main_page .text_photo_box .text_block .container_items #btn_more:focus {
  outline: none;
  box-shadow: 0px 2px 5px #424242;
}
.main_page .text_photo_box .text_block .container_items #btn_more:active {
  color: var(--ssp-color-dark);
  background-color: #e2e2e2;
}
.main_page .text_photo_box .text_block .container_items .video_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.main_page .text_photo_box .text_block .container_items .video_start .prewiev_name p {
  font-size: 16px;
  font-family: var(--ssp-regular);
  text-transform: uppercase;
  padding-left: 20px;
}
.main_page .text_photo_box .text_block .container_items .video_start #btn_start_video {
  width: auto;
  height: auto;
  font-size: 60px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.main_page .text_photo_box .text_block .container_items .video_start #btn_start_video:hover {
  color: #3a3a3a;
}
.main_page .text_photo_box .text_block .container_items .video_start .box_shadow_video {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.733);
  animation: showBlock 0.5s;
  z-index: 3;
}
@keyframes showBlock {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.main_page .text_photo_box .text_block .container_items .video_start .box_shadow_video i {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
  color: var(--ssp-color-light);
  transition: all 0.2s ease-in-out;
}
.main_page .text_photo_box .text_block .container_items .video_start .box_shadow_video i:hover {
  color: #c4c4c4;
}
.main_page .text_photo_box .text_block .container_items .video_start .box_shadow_video i:active {
  color: #aaaaaa;
}
.main_page .text_photo_box .slider_photo {
  width: 50%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main_page .text_photo_box .slider_photo .item {
  width: 100%;
  height: 100%;
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.main_page .text_photo_box .slider_photo .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_page .text_photo_box .slider_photo #last,
.main_page .text_photo_box .slider_photo #next {
  width: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  background-color: rgba(255, 255, 255, 0.699);
  font-size: 25px;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease-in-out;
}
.main_page .text_photo_box .slider_photo #last {
  left: 0;
}
.main_page .text_photo_box .slider_photo #next {
  right: 0;
}
.main_page .text_photo_box .slider_photo #last:hover,
.main_page .text_photo_box .slider_photo #next:hover {
  background-color: #dddddd;
}
.main_page .down_block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}
.main_page .down_block .position_elem {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: 120px;
}
.main_page .down_block .position_elem .social_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: 1 / 1 / 2 / 2;
}
.main_page .down_block .position_elem .social_link a {
  padding-left: 100px;
  font-size: 18px;
  text-decoration: none;
  font-family: var(--ssp-regular);
  text-transform: uppercase;
  color: var(--ssp-color-dark);
}
.main_page .down_block .position_elem .panel_product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--block-addit-bg);
}
.main_page .down_block .position_elem .panel_product p {
  text-transform: uppercase;
  font-family: var(--ssp-regular);
  font-size: 18px;
}
.main_page .down_block .position_elem .panel_product p:nth-child(2) {
  color: var(--ssp-color-light);
}
.technology_block {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technology_block .video_block {
  width: 40%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.technology_block .video_block video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.technology_block .video_block button {
  position: absolute;
  border: none;
  font-size: 120px;
  color: var(--ssp-color-light);
  background: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.technology_block .video_block button:hover {
  color: #bebebe;
}
.technology_block .video_block button:active {
  color: #aaaaaa;
}
.technology_block .video_block #stop {
  display: none;
}
.technology_block .video_block #replay {
  display: none;
}
.technology_block .techno_text {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.technology_block .techno_text h1,
.technology_block .techno_text h2,
.technology_block .techno_text p {
  width: 600px;
}
.technology_block .techno_text h1 {
  font-size: 100px;
  font-family: var(--ssp-bold);
}
.technology_block .techno_text h2,
.technology_block .techno_text p {
  font-family: var(--ssp-regular);
  padding-bottom: 30px;
}
.technology_block .techno_text h2 {
  font-size: 70px;
  text-align: left;
  font-weight: 500;
}
.technology_block .techno_text p {
  font-size: 18px;
}
.techno_info_block {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bnt-photo-bg);
}
.techno_info_block .mini_block {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--ssp-regular);
  font-weight: 500;
  gap: 30px;
}
.techno_info_block .mini_block i {
  font-size: 70px;
}
.techno_info_block .mini_block p {
  width: 300px;
  text-align: center;
}
.store_block {
  width: 100%;
  height: 100vh;
}
