@font-face {
    font-family: SourceSanPro-regular;
    src: url(../resource/fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: SourceSanPro-bold;
    src: url(../resource/fonts/SourceSansPro-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ssp-regular: SourceSanPro-regular;
    --ssp-bold: SourceSanPro-bold;
    --ssp-color-dark: black;
    --ssp-color-light: white;
    --btn-click-bg: black;
    --bnt-photo-bg: rgb(234,184,97);
    --block-bg-light: white;
    --block-bg-dark: black;
    --block-addit-bg: rgba(234,184,97);
    --btn-bg-dark: black;
    --btn-bg-light: white;
}

body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30px;
    right: 20px;
    border-radius: 10px;
    color: var(--ssp-color-light);
    background-color: var(--block-bg-light);
    z-index: 3;
    overflow: hidden;

    i{
        color: var(--ssp-color-dark);
        text-align: center;
        font-size: 25px;
        padding: 12px;
        cursor: pointer;
    }

    .menu{
        // height: 240px;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-height: 0;
        transition: all 1s ease-in-out;
        
        a{
            padding: 5px;
        }

        i:hover{
            color: var(--bnt-photo-bg)
        }

    }
}

.main_page{
    position: relative;
    width: 100%;
    height: 100vh;

    .up_block{
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--ssp-regular);
        text-transform: uppercase;
        z-index: 2;

        .logo{
            padding-left: 50px;
            letter-spacing: 4px;
            font-size: 22px;
        }   
    }

    .text_photo_box{
        width: auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .text_block{
            width: 50%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .container_items{
                .prewiev_logo_text{
                    font-family: var(--ssp-bold);
                    font-size: 80px;
                    padding-bottom: 20px;
                    color: var(--block-bg-dark);
                }
                
                .prewiev_about_text{
                    font-family: var(--ssp-regular);
                    font-size: 26px;
                    word-spacing: 10px;
                    padding-bottom: 40px;
                    color: var(--block-bg-dark);
                }
    
                #btn_more{
                    min-width: 180px;
                    height: 60px;
                    border: solid 1px black;    
                    border-radius: none;
                    background-color: var(--btn-bg-dark);
                    font-family: var(--ssp-regular);
                    font-size: 18px;
                    text-transform: uppercase;
                    color: var(--ssp-color-light);
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;
                }

                #btn_more:hover{
                    border: solid 1px black;    
                    background-color: var(--btn-bg-light);
                    color: var(--btn-click-bg);
                }

                #btn_more:focus{
                    outline: none;
                    box-shadow: 0px 2px 5px rgb(66, 66, 66);
                }
                #btn_more:active{
                    color: var(--ssp-color-dark);
                    background-color: rgb(226, 226, 226);

                }

                .video_start{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 30px;
    
                    .prewiev_name p{
                        font-size: 16px;
                        font-family: var(--ssp-regular);
                        text-transform: uppercase;
                        padding-left: 20px;
                    }
    
                    #btn_start_video{
                        width: auto;
                        height: auto;
                        font-size: 60px;
                        border: none;
                        background: transparent;
                        cursor: pointer;
                        transition: all 0.25s ease-in-out;
                    }

                    #btn_start_video:hover{
                        color: rgb(58, 58, 58);
                    }

                    .box_shadow_video{
                        display: none;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.733);
                        animation: showBlock 0.5s;
                        z-index: 3;

                        @keyframes showBlock {
                            from {
                              opacity: 0.8;
                            }
                            to {
                              opacity: 1;
                            }
                          }

                        i{
                            position: absolute;
                            top: 50px;
                            right: 20px;
                            font-size: 50px;
                            cursor: pointer;
                            color: var(--ssp-color-light);

                            transition: all 0.2s ease-in-out;
                        }
                        i:hover{
                            color: rgb(196, 196, 196);
                        }
                        i:active{
                            color: rgb(170, 170, 170);
                        }
                    }

                }
            }
        }

        .slider_photo {
            width: 50%;
            height: 100vh;
            position: relative;
            overflow: hidden;
          
            .item {
              width: 100%;
              height: 100%;
          
              animation-name: fade;
              animation-duration: 2s;
          
              @keyframes fade {
                from {
                  opacity: 0.8;
                }
                to {
                  opacity: 1;
                }
              }
          
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            #last, #next{
                width: 40px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                margin-top: -25px;
                background-color: rgba(255, 255, 255, 0.699);
                font-size: 25px;
                cursor: pointer;
                user-select: none;
                transition: all 0.5s ease-in-out;
            }

            #last{
                left: 0;
            }

            #next{
                right: 0;
            }

            #last:hover, #next:hover{
                background-color: rgb(221, 221, 221);
            }

            

        }
    }

    .down_block{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 120px;

        .position_elem{
            display: grid;
            grid-template-columns: 1fr 1.2fr 1fr;
            grid-template-rows: 120px;

            .social_link{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                grid-area: 1 / 1 / 2 / 2;

                a{
                    padding-left: 100px;
                    font-size: 18px;
                    text-decoration: none;
                    font-family: var(--ssp-regular);
                    text-transform: uppercase;
                    color: var(--ssp-color-dark);
                }
            }
    
            .panel_product{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                grid-area: 1 / 2 / 2 / 3;
                background-color: var(--block-addit-bg);

                p{
                    text-transform: uppercase;
                    font-family: var(--ssp-regular);
                    font-size: 18px;
                }
                p:nth-child(2){
                    color: var(--ssp-color-light);
                }
            }
        }
    }
}

.technology_block{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .video_block{
        width: 40%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        overflow: hidden;

        video{
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        button{
            position: absolute;
            border: none;
            font-size: 120px;
            color: var(--ssp-color-light);
            background: none;
            outline: none;
            cursor: pointer;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }

        button:hover{
            color: rgb(190, 190, 190);
        }

        button:active{
            color: rgb(170, 170, 170);
        }

        #stop{
            display: none;
        }

        #replay{
            display: none;
        }
    }

    .techno_text{
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1, h2, p{
            width: 600px;
        }

        h1{
            font-size: 100px;
            font-family: var(--ssp-bold);
        }

        h2, p {
            font-family: var(--ssp-regular);
            padding-bottom: 30px;
        }

        h2{
            font-size: 70px;
            text-align: left;
            font-weight: 500;
        }

        p{
            font-size: 18px;
        }
    }
}